.box
{
	border: 3px ;
	border-top: solid;
	border-left: dashed;
	border-right: dashed;
	border-bottom: solid;
	border-color: black;
	text-align: center;
	/*margin: auto;*/
	height: 250px;
	width: 350px;
	padding-top: 50px;
}